<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Realizar Ecomendas</title>
    <link rel="stylesheet" href="/~ist1103687/cgi-bin" />
</head>
<body>
    <h1>Realizar Ecomendas</h1>
    <form action="../cgi-bin/realizar_encomenda.cgi" method="post">
        <tr>
            <td>
                <a href="criar_encomenda1_produto.html">Criar Encomenda Apenas Com Um Produto</a>
            </td>
        </tr>
    </form>
</body>
<tr>
    <td>
        <a href="adicionar_produtos_encomenda.html">Adicionar Produtos À Encomenda</a>
    </td>
</tr>
        </select>
        <br><br>

        
    </form>
</body>
</html>
