<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Registar Fornecedores</title>
        <link rel="stylesheet" href="/~ist1103687/cgi-bin" />
    </head>
    <body>
        <h1>Registar Fornecedores</h1>
        <form action="../cgi-bin/registar_fornecedores.cgi" method="post">
            <p>Nome do Fornecedor: <input type="text" name="name" /></p>
            <p>TIN do Fornecedor: <input type="text" name="tin" /></p>
            <p>Morada do Fornecedor: <input type="text" name="address" /></p>
            <p>SKU do Produto: <input type="text" name="sku" /></p>
            <p>Data do Fornecedor: <input type="date" name="date" /></p>
            <p><input type="submit" value="Confirmar" /></p>
        </form>
    </body>
</html>
