<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Registar Produto</title>
        <link rel="stylesheet" href="/~ist1103687/cgi-bin" /> 
    </head>
    <body>
        <h1>Registar Produto</h1>
        <form action="../cgi-bin/registar_produto.cgi" method="post">
            <p>Nome do Produto: <input type="text" name="name" /></p>
            <p>Código do Produto: <input type="text" name="sku" /></p>
            <p>ean do Produto: <input type="number" name="ean" /></p>
            <p>Descrição do Produto: <input type="text" name="description" /></p>
            <p>Preço do Produto: <input type="number" name="price" /></p>
            <p>Código do Fornecedor: <input type="text" name="tin" /></p>
            <p>Nome do Fornecedor: <input type="text" name="nameforn" /></p>
            <p>Morada do Fornecedor: <input type="text" name="address" /></p>
            <input type = "submit" value = "Register Product">
        </form>
    </body>
</html>

