<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Registar Clientes</title>
        <link rel="stylesheet" href="/~ist1103687/cgi-bin" />
    </head>
    <body>
        <h1>Registar Clientes</h1>
        <form action="../cgi-bin/registar_clientes.cgi" method="post">
            <p>Nome do Cliente: <input type="text" name="name" /></p>
            <p>Email do Cliente: <input type="text" name="email" /></p>
            <p>Telefone do Cliente: <input type="number" name="phone" /></p>
            <p>Morada do Cliente: <input type="text" name="address" /></p>
            <p>Numero do Cliente: <input type="number" name="cust_no" /></p>
            <p><input type="submit" value="Confirmar" /></p>
        </form>
    </body>
</html>
