<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Simular Pagamento de Encomendas</title>
        <link rel="stylesheet" href="/~ist1103687/cgi-bin" />
    </head>
    <body>
        <h1>Simular Pagamento de Encomendas</h1>
        <form action="../cgi-bin/simular_pagamento.cgi" method="post">
            <p>Numero de Cliente: <input type="number" name="cust_no" /></p>
            <p>Numero da Encomenda: <input type="number" name="order_no" /></p>
            <p><input type="submit" value="Confirmar" /></p>
        </form>
    </body>
</html>